<div class="container">
    <div class="row">
      <div class="col">
        <div class=content>
          <div class="wrapper-1">
            <div class="wrapper-2">
              <p> How to use!</p>
              <iframe width="690" height="388" src="https://www.youtube.com/embed/wHNhoFcn7QM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <!-- <button class="go-home" [routerLink]='["/"]' routerLinkActive="active">
               use now
              </button> -->
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
  

