.mybox {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -150px;
  }
  
    .form-active {
      border-bottom: 3px solid rgb(179, 255, 0);
    }
    
    .i-am-centered {
      margin: auto;
    }
    
    button:disabled,
    button[disabled]{
      border: 1px solid #999999;
      color: #fff;
      background-color: #000;
      cursor: not-allowed;
    }
    
    .card-title {
      cursor: pointer;
    }
    
    