<nav class="navbar navbar-expand-lg navbar-light navbar-default navbar-fixed-top" style="background-color: #e3f2fd;">
  <a class="navbar-brand" [routerLink]='["/"]' routerLinkActive="active">SURVEYOR</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]='["/create"]' routerLinkActive="active">New Survey</a>
      <a class="nav-item nav-link" [routerLink]='["/dashboard"]' routerLinkActive="active">Dashboard</a>
      <a class="nav-item nav-link" [routerLink]='["/login"]' routerLinkActive="active">Login</a>
    </div>
  </div>
</nav>