<div class="container">
  <div class="row">
    <div class="col">
      <div class=content>
        <div class="wrapper-1">
          <div class="wrapper-2">
            <h1>Thank you !</h1>
            <p>  Thanks a bunch for filling that out.</p>
            <p>
             It means a lot to us, just like you do! We really appreciate you giving us a moment of your time today. Thanks for being you.  
            </p>
            <button class="go-home" [routerLink]='["/"]' routerLinkActive="active">
              go home
            </button>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

